<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Types</title>
        <link rel="stylesheet" href="pageTypes.css">
        <link rel="stylesheet" href="../headermenu.css">
        
    </head>
    <body>
        <div class="types-container">
            <div class="list-container">
                <h3>All Types</h3>
                <div id="all-types-list" class="types-list"></div>
            </div>
            <div class="list-container">
                <h3>Project Types</h3>
                <div id="project-types-list" class="types-list"></div>
            </div>
        </div>
        <div class="action-buttons">
            <button id="cancel-btn" class="cancel-btn">Cancel</button>
            <button id="save-btn" class="save-btn">Save Changes</button>
        </div>
    </body>
    <script type="module" src="projectTypes.js"></script>
</html>