<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Relationships Page</title>
    <link rel="stylesheet" href="relationship_page.css" />
</head>
<body>
    <div id="page">
        <div id="grid"></div>
        <div id="changes-dropdown">
            <div id="dropdown-header"></div>
            <div id="changes-options"></div>
        </div>
        <div id="page-container"></div>
    </div>

    <script type="module" src="../module_space/modules_display.js"></script>
    <script type="module" src="../module_space/module_changes.js"></script>
    <script type="module" src="../module_space/page_save.js"></script>
    <script src="../module_space/module_resize.js"></script>
    <script src="../module_space/select.js"></script>
    <script src="../module_space/snap.js"></script>
    <script type="module" src="relationship_page.js"></script>
</body>
</html>
