<!-- Include stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<!-- <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="./text_editor.css" />
<link rel="stylesheet" href="export.css">
<script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.17.1/dist/pdf-lib.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/docx@7.1.0/build/index.min.js"></script>
<div id="wrapper">
	<!-- Left space for drawing the line -->
	<div id="line-container">
	  <!-- Line will be drawn here -->
	</div>
<!-- Create the editor container -->
<div class="editor-container">
	<div id="editor"></div>
	<div id="counter">0</div>
	
</div>

<!-- Export button and dropdown -->
<!-- <div class="export-container">
	<button id="exportButton">Export</button>
	<div id="exportDropdown" class="dropdown-content">
		<a href="#" id="exportPDF">PDF</a>
		<a href="#" id="exportDOCX">DOCX</a>
		<a href="#" id="exportTXT">TXT</a>
	</div>
</div> -->

<!-- Export Settings Popup -->
<div id="exportSettingsPopup" class="popup" style="display: none;">
	<div class="popup-content">
	  <h2 id="exportSettingsTitle">Export Settings</h2>
	  <div id="settingsContent"></div>
	  <button id="exportConfirm">Export</button>
	  <button id="exportCancel">Cancel</button>
	</div>
</div>


<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script type="module" src="./text_editor.js"></script>
<script type="module" src="./export.js"></script>
