html, body {
    margin: 0;
    overflow-x: hidden;

    height: 100%;
    scrollbar-width: none;
}

#hierarchy-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s ease;
}

.subcontainer {
    position: absolute;
    /* width: calc(100% - 10px); */
}

#section-hierarchy-container {
    color: white;
    z-index: 99;
    transform: translateX(100%);
}

.hierarchy-options {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding-left: 0.25rem;
    height: 2rem;
    width: 100%;
    background-color: var(--left-panel-options-section-color);
}

.hierarchy-options button{
    background-color: var(--left-panel-options-button-color);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.25rem;

    height: 80%;
    align-self: center;

    border-radius: 0.25rem;

    transition: background-color 0.2s ease;
}

.hierarchy-options button:hover {
    background-color: var(--left-panel-options-button-hover-color);
}

.hierarchy-options button:hover svg {
    fill: var(--left-panel-options-icon-hover-color);
}

.hierarchy-options svg {
    height: 1rem;
    fill: var(--left-panel-options-icon-color);
    transition: fill 0.2s ease;
}

.toggle-btn {
    margin-left: auto;
    margin-right: 0.5rem;
}

#new-file-slide-out {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 100%;
    height: calc(100% - 2rem);
    margin: 0rem;
    z-index: 20;

    background-color: var(--left-panel-slideout-section-color);

    transform: translateX(-100%);
    transition: transform 0.2s cubic-bezier(1,0,.75,.5); 
}

#new-file-slide-out.open {
    transform: translateX(0%); 
    transition: transform 0.2s cubic-bezier(.25,.5,0,1);
}

#new-file-slide-out button{
    padding: 0.25rem;
    color: var(--left-panel-slideout-text-color);
    background-color: var(--left-panel-slideout-button-color);
    border: none;
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;

    transition: all 0.2s ease;
}

#new-file-slide-out button:hover{
    color: var(--left-panel-slideout-text-hover-color);
    background-color: var(--left-panel-slideout-button-hover-color);
    padding-left: 0.5rem;
}


/* Hierarchy */
.hierarchy {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    margin: 0;
    padding-left: 0.5rem;

    font-family: Helvetica;
    overflow: hidden;
    white-space: nowrap;
    
    background-color: var(--hierarchy-section-color);

    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 1rem;

    font-size: 1rem;
}

ul.root {
    margin-left: 0;
}

.folder {
    position: relative;
    margin: 0;
    border: none;
    /* overflow: visible;
    height: auto; */
}

.folder.open {
    margin-bottom: 0.25rem;
}

.folder-name {
    padding-left: 0.25rem;
    font-weight: bold;
    color: var(--hierarchy-folder-text-color);
    cursor: pointer;
    border: 0px solid transparent;

    user-select: none;

    transition: background-color 0.2s ease;
}

.folder.open > .folder-name::before {
    position: absolute;
    content: "";
    left: 0.5rem;
    top: 1.1rem;
    width: 1px;
    height: calc(100% - (1.1rem + 0.5rem ));
    transform: scaleX(var(--hierarchy-tree-vertical-thickness));
    background-color: var(--hierarchy-tree-vertical-color);

    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 9;
}

li.file::after,
li.folder::after {
    --line-thickness: 4;

    position: absolute;
    content: "";
    left: -0.5rem;
    top: 8px;
    width: 10px;
    height: 1px;
    transform: scaleY(var(--hierarchy-tree-horizontal-thickness));
    background-color: var(--hierarchy-tree-horizontal-color);
    
    transition: all 0.2s ease;
}

/* .folder-name::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNy4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTI0Ni42IDI3OC42YzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zbC0xMjgtMTI4Yy05LjItOS4yLTIyLjktMTEuOS0zNC45LTYuOXMtMTkuOCAxNi42LTE5LjggMjkuNmwwIDI1NmMwIDEyLjkgNy44IDI0LjYgMTkuOCAyOS42czI1LjcgMi4yIDM0LjktNi45bDEyOC0xMjh6Ii8+PC9zdmc+");
} */

.folder-name:hover {
    color: var(--hierarchy-folder-hover-text-color);
    background-color: var(--hierarchy-folder-hover-color);
}

.folder-name span:focus {    
    outline: none;
    text-decoration: none;
}

.folder-name:hover svg {
    fill: var(--hierarchy-folder-hover-icon-color);
}



.folder-name.editing {
    color: var(--hierarchy-new-folder-text-color);
    background-color: var(--hierarchy-new-folder-color);
}

.folder-name.editing svg {
    fill: var(--hierarchy-new-folder-icon-color);
}


.folder svg {
    /* vertical-align: middle; */
    margin-top: 1px;
    display: inline-block;
    width: 0.5rem;
    margin-right: 0.25rem;

    fill: var(--hierarchy-folder-icon-color);

    transition: transform 0.2s ease, fill 0.2s ease;
}


/* Open */
.folder.open > .folder-name {
    color: var(--hierarchy-open-folder-text-color);
    background-color: var(--hierarchy-open-folder-color);
    transition: all 0.2s ease;
}

.folder.open > .folder-name > svg {
    transform: rotate(90deg);
    fill: var(--hierarchy-open-folder-icon-color);
    transition: all 0.2s ease;
}

.folder.open:hover > .folder-name {
    color: var(--hierarchy-open-folder-hover-text-color);
    background-color: var(--hierarchy-open-folder-hover-color);
}

.folder.open:hover > .folder-name > svg {
    fill: var(--hierarchy-open-folder-hover-icon-color);
}

/* Selected*/
.folder.selected > .folder-name {
    color: var(--hierarchy-selected-folder-text-color);
    background-color: var(--hierarchy-selected-folder-color);
    transition: all 0.2s ease;
}

.folder.selected > .folder-name > svg {
    fill: var(--hierarchy-selected-folder-icon-color);
    transition: all 0.2s ease;
}

.folder.selected:hover > .folder-name {
    color: var(--hierarchy-selected-folder-hover-text-color);
    background-color: var(--hierarchy-selected-folder-hover-color);
}

.folder.selected:hover > .folder-name > svg {
    fill: var(--hierarchy-selected-folder-hover-icon-color);
}

/* Selected and Open */
.folder.selected.open > .folder-name {
    color: var(--hierarchy-selected-open-folder-text-color);
    background-color: var(--hierarchy-selected-open-folder-color);
    transition: all 0.2s ease;
}

.folder.selected.open > .folder-name > svg {
    fill: var(--hierarchy-selected-open-folder-icon-color);
    transition: all 0.2s ease;
}

.folder.selected.open:hover > .folder-name {
    color: var(--hierarchy-selected-open-folder-hover-text-color);
    background-color: var(--hierarchy-selected-open-folder-hover-color);
}

.folder.selected.open:hover > .folder-name > svg {
    fill: var(--hierarchy-selected-open-folder-hover-icon-color);
}

.folder-items {
    height: 0;
    overflow: hidden; 
    interpolate-size: allow-keywords;      /* THIS IS A GODSEND. I SPENT 3 HOURS TRYING TO ANIMATE HEIGHT: AUTO; OMFG*/
    transition: height 0.2s ease;
}

.folder.open > .folder-items {
    height: auto;
    /* overflow: visible; */
}

.file {
    margin: 0;
    border: none;
    position: relative;
    padding-left: 1.25rem;
    cursor: pointer;
    color: var(--hierarchy-file-text-color);
    background-color: var(--hierarchy-file-color);
    transition: all 0.2s ease;
}

.file:hover {
    color: var(--hierarchy-file-hover-text-color);
    background-color: var(--hierarchy-file-hover-color);
}

.file input::after {
    --line-thickness: 4;

    position: absolute;
    content: "";
    left: -0.5rem;
    top: 8px;
    width: 10px;
    height: 1px;
    transform: scaleY(var(--hierarchy-tree-horizontal-thickness));
    background-color: var(--hierarchy-tree-horizontal-color);
    
    transition: all 0.2s ease;
}

.file input {
    position: absolute;
    left: 1.25rem;
    top: 0;
    width: calc(100% - 1.5rem);
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: var(--hierarchy-file-color);
    color: inherit;
    font: inherit;
    cursor: text;
}

.drop-target {
    background-color: var(--hierarchy-drop-target-color) !important;
}
