html, body {
    margin: 0;
    overflow: hidden;

    height: 100%;
}

#side-bar-options {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding-left: 0.25rem;
    height: 2rem;
    width: 100%;
    background-color: var(--left-panel-options-section-color);
}

#side-bar-options button{
    background-color: var(--left-panel-options-button-color);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.25rem;

    height: 80%;
    align-self: center;

    border-radius: 0.25rem;

    transition: background-color 0.2s ease;
}

#side-bar-options button:hover {
    background-color: var(--left-panel-options-button-hover-color);
}

#side-bar-options button:hover svg {
    fill: var(--left-panel-options-icon-hover-color);
}

#side-bar-options svg {
    height: 1rem;
    fill: var(--left-panel-options-icon-color);
    transition: fill 0.2s ease;
}



/* Hierarchy */
#side-bar-hierarchy {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding-left: 0.5rem;

    font-family: Helvetica;
    overflow: hidden;
    white-space: nowrap;
    
    background-color: var(--hierarchy-section-color);

    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 1rem;

    font-size: 1rem;
}

ul.root {
    margin-left: 0;
}

.folder {
    position: relative;
    /* overflow: visible;
    height: auto; */
}

.folder.open {
    margin-bottom: 0.25rem;
}

.folder-name {
    padding-left: 0.25rem;
    font-weight: bold;
    color: var(--hierarchy-folder-text-color);
    cursor: pointer;
    border: 0px solid transparent;

    user-select: none;

    transition: background-color 0.2s ease;
}

/* .folder.open > .folder-name::before {
    --line-thickness: 3px;

    position: absolute;
    left: calc(0.5rem - var(--line-thickness)/2);
    top: 0.5rem;
    content: "";
    width: 1rem;
    height: calc(100% - 1rem);
    border-left: var(--line-thickness) solid var(--hierarchy-folder-hover-color);
}

.folder.open > ul > li::before {
    --line-thickness: 3px;

    position: absolute;
    left: -0.5rem;
    top: 0rem;
    content: "";
    width: 1rem;
    height: 0.5rem;
    border-bottom: var(--line-thickness) solid var(--hierarchy-folder-hover-color);
} */

.folder.open > .folder-name::before {
    --line-thickness: 2px;

    position: absolute;
    left: calc(0.48rem - var(--line-thickness)/2);
    top: 1.1rem;
    content: "";
    width: 1rem;
    height: calc(100% - (1.1rem + 0.5rem ));
    border-left: var(--line-thickness) solid var(--hierarchy-folder-hover-color);

    cursor: pointer;
}

/* .file::before,
.folder::before {
    --line-thickness: 2px;

    position: absolute;
    left: -0.5rem;
    top: 0rem;
    content: "";
    width: 1rem;
    height: 0.5rem;
    border-bottom: var(--line-thickness) solid var(--hierarchy-folder-hover-color);
} */

/* .folder-name::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNy4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTI0Ni42IDI3OC42YzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zbC0xMjgtMTI4Yy05LjItOS4yLTIyLjktMTEuOS0zNC45LTYuOXMtMTkuOCAxNi42LTE5LjggMjkuNmwwIDI1NmMwIDEyLjkgNy44IDI0LjYgMTkuOCAyOS42czI1LjcgMi4yIDM0LjktNi45bDEyOC0xMjh6Ii8+PC9zdmc+");
} */

.folder-name:hover {
    color: var(--hierarchy-folder-hover-text-color);
    background-color: var(--hierarchy-folder-hover-color);
}

.folder-name span:focus {    
    outline: none;
    text-decoration: none;
}

.folder-name:hover svg {
    fill: var(--hierarchy-folder-hover-icon-color);
}



.folder-name.editing {
    color: var(--hierarchy-new-folder-text-color);
    background-color: var(--hierarchy-new-folder-color);
}

.folder-name.editing svg {
    fill: var(--hierarchy-new-folder-icon-color);
}


.folder svg {
    vertical-align: middle;
    display: inline-block;
    width: 0.5rem;
    margin-right: 0.25rem;

    fill: var(--hierarchy-folder-icon-color);

    transition: transform 0.2s ease;
    transition: fill 0.2s ease;
}

.folder.open > .folder-name > svg {
    transform: rotate(90deg);
    fill: var(--hierarchy-open-folder-icon-color);
}

.folder.open > .folder-name {
    color: var(--hierarchy-open-folder-text-color);
    background-color: var(--hierarchy-open-folder-color);
}
.folder.open:hover > .folder-name {
    color: var(--hierarchy-open-folder-hover-text-color);
    background-color: var(--hierarchy-open-folder-hover-color);
}

.folder-items {
    height: 0;
    overflow: hidden; 
    interpolate-size: allow-keywords;      /* THIS IS A GODSEND. I SPENT 3 HOURS TRYING TO ANIMATE HEIGHT: AUTO; OMFG*/
    transition: height 0.2s ease;
}

.folder.open > .folder-items {
    height: auto;
    /* overflow: visible; */
}

.file {
    margin-left: 1rem;
    color: var(--hierarchy-file-text-color);
    cursor: pointer;
}

.file:hover {
    background-color: var(--hierarchy-selected-file-color);
    color: var(--hierarchy-selected-file-text-color);
}