html, body, p {
    margin: 0;
    font-family: Helvetica;
    transition: all 0.2s ease;
}

/* body {
    background-color: rgba(0, 0, 0, 0.75);
} */


svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 16rem;
    width: 16rem;
    fill: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
}

svg.dragover {
    fill: rgba(255, 255, 255, 1);
    height: 20rem;
    width: 20rem;
}

#file-open-cancel-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}