<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="headermenu.css">
    <link rel="stylesheet" href="settings.css">
</head>
<body>
    <div id="settings-area">
        <div id="settings-couchdb-section" class="section">
            <p class="section-title">CouchDB</p>
            <div class="subsection">
                <p class="subsection-title">Connect:</p>
                <div id="split-url-container">
                    <p>http://</p>
                    <span class="badge"><span contenteditable="true" id="url-user-input" class="badge" data-placeholder="username"></span></span>
                    <p>:</p>
                    <span class="badge"><span contenteditable="true" id="url-pass-input" class="badge" data-placeholder="password"></span></span>
                    <p>@</p>
                    <span class="badge"><span contenteditable="true" id="url-hostname-input" class="badge" data-placeholder="hostname"></span></span>
                    <p>:</p>
                    <span class="badge"><span contenteditable="true" id="url-port-input" class="badge" data-placeholder="port"></span></span>
                    <p>/</p>
                    <span class="badge"><span contenteditable="true" id="url-dbname-input" class="badge" data-placeholder="dbname"></span></span>
                </div>
                <p>or</p>
                <div id="full-url-container">
                    <span class="badge"><span contenteditable="true" id="url-full-input" class="badge" data-placeholder="http://username:password@hostname:port/dbname"></span></span>
                </div>
                <div id="connection-status-container">
                    <div id="connection-buttons">
                        <button id="connect-url-btn">Connect</button>
                    </div>
                    <p id="connection-status"></p>
                </div>
            </div>
            
            <div id="action-subsection" class="subsection">
                <p class="subsection-title">Database Actions:</p>
                <div id="actions">
                    <div class="dropdown">
                        <button class="dropdown-btn">Select an action:</button>
                        <ul class="dropdown-menu">
                            <li data-value="merge">↔ Merge local and remote</li>
                            <li data-value="mergeToPouch">⬅ Merge to local</li>
                            <li data-value="mergeToCouch">➡ Merge to remote</li>
                            <li data-value="overwritePouch">⤵ Overwrite local with remote database</li>
                            <li data-value="overwriteCouch">⤴ Overwrite remote with local database</li>
                            <li data-value="clearPouch">🗑 Clear local database</li>
                            <li data-value="clearCouch">🗑 Clear remote database</li>
                            <li data-value="deleteCouch">❌ Delete remote database</li>
                        </ul>
                    </div>
                    <button id="action-btn">Start</button>
                    <p id="action-status"></p>
                </div>
            </div>

            <div id="sync-subsection" class="subsection">
                <p class="subsection-title">Sync:</p>
                <div id="sync-status-container">
                    <div id="sync-buttons">
                        <button id="sync-btn">Start sync</button>
                    </div>
                    <p id="sync-status"></p>
                </div>
            </div>
        </div>

        <div id="settings-theme-area" class="section">
            <p class="section-title">Themes</p>
            <div id="theme-section" class="subsection">
                <li class="folder" style="margin-left: 0;">
                    <p>/assets/themes</p>
                    <ul id="theme-list"></ul>
                </li>
            </div>
            <div class="theme-btns">
                <button id="theme-refresh-btn">Refresh</button>
                <button id="theme-open-folder-btn">Open Folder</button>
            </div>
        </div>
    </div>

    
    
    <div id="exit-btns">
        <button id="cancel-settings-btn">Cancel</button>
        <button id="submit-settings-btn">Ok</button>
    </div>
    <script src="settings.js"></script>
</body>
</html>