/* Style the header dropdown container */
.header-dropdown {
    position: relative;
    display: inline-block;
}
  
/* Style the header dropdown button */
.header-dropdown button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style the header dropdown content (hidden by default) */
.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the header dropdown items */
.header-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of header dropdown items on hover */
.header-dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the header dropdown content when the header dropdown button is hovered */
.header-dropdown:hover .header-dropdown-content {
    display: block;
}

/* Change the background color of the header dropdown button when hovered */
.header-dropdown:hover button {
    background-color: #3e8e41;
}