<link rel="stylesheet" href="../../../node_modules/intro.js/minified/introjs.min.css">
<div id="leftPanel">
    <!-- <object type="text/html" data="../hierarchy/hierarchy.html" class="import"></object> -->
    <iframe id="hierarchyIframe" src="../hierarchy/hierarchy.html" frameborder="0"></iframe>
</div>
<div id="panelResizer"></div>
<div id="rightPanel">
    <div id="tab-header"></div>
    <div id="page-window">
        <button id="main-page-tour-btn">❓</button> 
    </div>
</div>

<link rel="stylesheet" href="window.css">
<script src="resizer.js"></script>
<script src="tabs.js"></script>
<script src="../../themeInjector.js"></script>
<script src="../tutorials/mainPageTutorial.js"></script>
<script src="../../../node_modules/intro.js/minified/intro.min.js"></script>