<!DOCTYPE html>
<head>
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../assets/themes/spaceDust.css"> -->
    <link rel="stylesheet" href="page.css">
    <script src="select.js"></script>
    <script src="snap.js"></script>
</head>
<body>
    <div id="page">
        <div id="grid"></div>
        <div id="page-contents">
            <div class="module text-module" contenteditable="true">AAAAAAAAAA</div>
            <div class="module text-module" contenteditable="true" style="top: 4rem">BBB</div>
            <img src="../../assets/images/dog.jpg" alt="Image" class="module image-module" style="top: 8rem"/>
        </div>
    </div>
</body>
</html>
