/* html, body {
    margin: 0;
    height: 100%;
    background-color: var(--page-background-border-color);
    overflow: auto;
}

#page {
    position: relative;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    min-width: calc(100% - 2rem);
    min-height: calc(100% - 2rem);
    width: 100%;
    background-color: var(--page-background-color);
    box-sizing: border-box;
} */

html, body {
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}

#page {
    background-color: red;
}

#page-content {
    position: relative;
    min-height: 100%;
}

#grid {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: 100px 100px;
    background-image:
        linear-gradient(to right, var(--page-grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--page-grid-color) 1px, transparent 1px);

    mask: radial-gradient(circle 0px at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

    transition: mask 1s ease-out;

    pointer-events: none;
}
  
.module {
    position: absolute;
    user-select: none;
}
  
.module.selected {
    border-color: var(--page-module-selected-color);
}
  
.resizable {
    resize: both;
    overflow: hidden;
}

.text-module {
    color: var(--page-text-color);
}

.image-module {
    width: 20rem;
    height: auto;
}

.snap-line {
    position: absolute;
    background: var(--page-snap-line-color);
    pointer-events: none;
}