<div id="page">
    <div id="grid"></div>
    <div class="module text-module" contenteditable="true">AAAAAAAAAA</div>
    <div class="module text-module" contenteditable="true">BBB</div>
    <!-- <div class="module text-module" contenteditable="true">Hold shift to snap!</div> -->
    <img src="../../assets/images/image.JPG" alt="Image" class="module image-module"/>
    <link rel="stylesheet" href="page.css">
    <!-- <script src="page.js"></script> -->
    <script src="select.js"></script>
    <script src="snap.js"></script>
</div>