body {
    margin: 0;
    background-color: var(--page-background-color);
}

#page {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

#page::-webkit-scrollbar {
    display: none;
}

#grid {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: 100px 100px;
    background-image:
        linear-gradient(to right, var(--page-grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--page-grid-color) 1px, transparent 1px);

    mask: radial-gradient(circle 0px at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

    transition: mask 1s ease-out;

    pointer-events: none;
}


#changes-dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10000;
    font-family: sans-serif;
}

#dropdown-header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
}

#changes-options {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    display: none;  
    position: absolute;
    left: 0;
    top: 100%;
}

.change-option {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.change-option span {
    cursor: pointer;
    padding: 0 0.25rem;
}

.change-option .delete-change {
    margin-left: 0.5rem;
    cursor: pointer;
    color: red;
}


#add-change {
    cursor: pointer;
    font-weight: bold;
}


#page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.module {
    position: absolute;
}

.text-module {
    border: 2px solid var(--default-page-module-border-color);
    border-radius: 0.75rem;
    background-color: var(--default-page-module-background-color);
    padding: 1rem;
    font-size: 1rem;
    color: var(--default-page-module-text-color);
    transition: border 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.text-module:hover {
    border: 2px solid var(--default-page-module-border-color-hover);
    background-color: var(--default-page-module-background-color-hover);
    color: var(--default-page-module-text-color-hover);
}

.module-type {
    font-weight: bold;
    margin-bottom: 0.25rem;
    user-select: none; 
}

.module-value {
    outline: none;
    min-height: 1rem;
    overflow-y: auto;       
    white-space: pre-wrap; 
    word-break: break-word; 
}


.module-border-drag-region {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    background-color: transparent; 
    pointer-events: none;
}

/* .module.selected {
    outline: 2px dashed rgba(255, 255, 0, 0.7); 
    outline-offset: -4px; 
} */

.snap-line {
    position: absolute;
    background-color: var(--page-snap-line-color);
    z-index: 9999;
}
