<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Character Page</title>
    <link rel="stylesheet" href="base_page.css" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <div id="grid"></div>
        <div id="changes-dropdown">
            <div id="dropdown-header"></div>
            <div id="changes-options"></div>
        </div>
        <div id="page-container"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="../module_space/select.js"></script>
    <script src="../module_space/snap.js"></script>
    <script src="../module_space/module_resize.js"></script>
    <script type="module" src="base_page.js"></script>
    <script type="module" src="right_click_menu.js"></script>
</body>
</html>
