:root {
    /* 
    This theme is inspired by the KAT Space Dust keyboard keycap set.
    https://geekhack.org/index.php?topic=113012.0

    color:      Estimate    Pantone     actual hex

    pink:       EA3DAC      232C        E93CAC
    magenta:    BC29BC      Purple C    BB29BB
    purple:     753CBE      266C        753BBD
    blue:       3180E2      2756c       151F6D
    light blue: ?           2717c       A7C6ED
    grey:       2F2F2F      GRAY 2c     D0D0CE
    */

    /* Define palette */
    --black: #202020;
    --light-black: #2F2F2F;
    --pink: #E93CAC;
    --magenta: #BB29BB;
    --purple: #753BBD;
    --blue: #151F6D;
    --light-blue: #A7C6ED;
    --grey: #D0D0CE;


    /* Apply colors */

    /* Hub */
    --hub-background-color: var(--light-black);
    --hub-header-text-color: var(--pink);

    --hub-card-color: rgba(0, 0, 0, 0.1);
    --hub-card-title-text-color: var(--grey);
    --hub-card-desc-text-color: var(--light-blue);

    --hub-card-hover-color: var(--black);
    --hub-card-title-text-hover-color: var(--grey);
    --hub-card-desc-text-hover-color: var(--light-blue);

    --hub-card-options-section-color: transparent;
    --hub-card-options-button-color: var(--black);
    --hub-card-options-icon-color: var(--pink);

    --hub-card-options-button-hover-color: var(--pink);
    --hub-card-options-icon-hover-color: var(--black);

    --hub-card-delete-confirmation-text-color: var(--white0);

    /* Writing */
    --background-color: var(--light-black);
    --background-icon-color: rgba(0, 0, 0, 0.25);
    --background-icon-scale: 0.75;



    --header-section-color: var(--black);

    --header-logo-primary-color: var(--light-blue);
    --header-logo-secondary-color: var(--pink);

    --header-button-color: transparent;
    --header-text-color: var(--pink);

    --header-button-hover-color: var(--pink);
    --header-hover-text-color: var(--black);

    --header-dropdown-color: var(--black);
    --header-dropdown-text-color: var(--pink);

    --header-dropdown-hover-color: var(--pink);
    --header-dropdown-hover-text-color: var(--black);

    --header-dropdown-divider-color: var(--pink);

    --header-window-controls-color: var(--black);
    --header-window-controls-icon-color: var(--pink);
    --header-window-controls-hover-color: var(--pink);
    --header-window-controls-icon-hover-color: var(--black);
    


    --left-panel-options-section-color: var(--black);
    --left-panel-options-button-color: transparent;
    --left-panel-options-icon-color: var(--magenta);
    --left-panel-options-button-hover-color: var(--magenta);
    --left-panel-options-icon-hover-color: var(--black);



    --left-panel-slideout-section-color: rgba(0, 0, 0, 0.25);
    --left-panel-slideout-text-color: var(--light-blue);
    --left-panel-slideout-button-color: rgba(0, 0, 0, 0.25);
    --left-panel-slideout-text-hover-color: var(--black);
    --left-panel-slideout-button-hover-color: var(--light-blue);



    --hierarchy-section-color: var(--black);

    /* Folder */
    --hierarchy-folder-color: transparent;
    --hierarchy-folder-text-color: var(--purple);
    --hierarchy-folder-icon-color: transparent;

    --hierarchy-folder-hover-color: var(--light-black);
    --hierarchy-folder-hover-text-color: var(--purple);
    --hierarchy-folder-hover-icon-color: var(--purple);

    /* Open */
    --hierarchy-open-folder-color: var(--purple);
    --hierarchy-open-folder-text-color: var(--black);
    --hierarchy-open-folder-icon-color: var(--black);
    
    --hierarchy-open-folder-hover-color: var(--magenta);
    --hierarchy-open-folder-hover-text-color: var(--black);
    --hierarchy-open-folder-hover-icon-color: var(--light-black);

    /* Selected */
    --hierarchy-selected-folder-color: transparent;
    --hierarchy-selected-folder-text-color: var(--purple);
    --hierarchy-selected-folder-icon-color: var(--light-blue);

    --hierarchy-selected-folder-hover-color: var(--purple);
    --hierarchy-selected-folder-hover-text-color: var(--black);
    --hierarchy-selected-folder-hover-icon-color: var(--light-blue);
    
    /* Selected and Open */
    --hierarchy-selected-open-folder-color: var(--purple);
    --hierarchy-selected-open-folder-text-color: var(--black);
    --hierarchy-selected-open-folder-icon-color: var(--light-blue);
    
    --hierarchy-selected-open-folder-hover-color: var(--magenta);
    --hierarchy-selected-open-folder-hover-text-color: var(--black);
    --hierarchy-selected-open-folder-hover-icon-color: var(--light-blue);

    /* New */
    --hierarchy-new-folder-color: var(--pink);
    --hierarchy-new-folder-text-color: var(--black);
    --hierarchy-new-folder-icon-color: var(--black);

    /* File */
    --hierarchy-file-color: transparent;
    --hierarchy-file-text-color: var(--grey);
    
    --hierarchy-file-hover-color: var(--light-black);
    --hierarchy-file-hover-text-color: var(--grey);

    /* Tree */
    --hierarchy-tree-vertical-color: var(--purple);
    --hierarchy-tree-vertical-thickness: 4;
    --hierarchy-tree-horizontal-color: var(--purple);
    --hierarchy-tree-horizontal-thickness: 4;
    
    --hierarchy-tree-hover-vertical-color: var(--magenta);
    --hierarchy-tree-hover-vertical-thickness: 8;
    --hierarchy-tree-hover-horizontal-color: var(--magenta);
    --hierarchy-tree-hover-horizontal-thickness: 8;



    /* Tabs */
    --tab-section-color: transparent;

    --tab-color: var(--black);
    --tab-text-color: var(--magenta);
    --tab-icon-color: var(--magenta);

    --tab-hover-color: var(--purple);
    --tab-hover-text-color: var(--black);
    --tab-icon-hover-color: red;

    --tab-active-color: var(--magenta);
    --tab-active-text-color: var(--black);
    --tab-active-icon-color: var(--black);

    --tab-active-hover-color: var(--magenta);
    --tab-active-hover-text-color: var(--black);
    --tab-active-icon-hover-color: red;


    
    /* Default Page (deprecated?)*/
    --default-page-background-color: var(--black1);

    --default-page-module-background-color: var(--black1);
    --default-page-module-text-color: var(--grey);
    --default-page-module-border-color: var(--light-blue);

    --default-page-module-background-color-hover: var(--light-blue);
    --default-page-module-text-color-hover: var(--black);
    --default-page-module-border-color-hover: var(--light-blue);



    /* Page */
    --page-background-color: var(--black);
    --page-background-border-color: var(--black);

    --page-snap-line-color: var(--pink);
    --page-grid-color: var(--purple);
    --page-text-color: var(--grey);
    --page-module-selected-color: var(--blue);

    
    --timeline-page-timeline-color: white;
    --compact-box-background-color: var(--magenta);
    --compact-box-border-color: var(--purple);
    --expanded-box-background-color: var(--purple);
    --expanded-box-border-color: var(var(--magenta));

    --options-bg-color: #2d2f33;   
    --options-text-color: #f0f0f0;    
    --options-border-color: #444;      
    --options-highlight-color: #6db5ff;
    
    --options-input-bg: #3b3e43;
    --options-input-text: #ffffff;
    --options-hover-bg: #45494f;
    --button-border-color: #666;
    

    /* Header Menus */
    --menu-background-color: var(--black);
    /* --menu-background-color: rgba(0, 0, 0, 0.75); */

    --menu-section-title-color: var(--pink);
    --menu-section-color: var(--light-black);
    --menu-section-text-color: var(--grey);

    --menu-subsection-title-color: var(--magenta);
    --menu-subsection-color: var(--black);
    --menu-subsection-text-color: var(--grey);

    --menu-entry-color: var(--light-black);
    --menu-entry-text-color: var(--light-blue);

    --menu-select-color: var(--purple);
    --menu-select-text-color: var(--black);

    --menu-select-hover-color: var(--grey);
    --menu-select-hover-text-color: var(--black);
    
    
    --menu-select-option-color: var(--light-black);
    --menu-select-option-text-color: var(--light-blue);

    --menu-select-option-hover-color: var(--light-blue);
    --menu-select-option-hover-text-color: var(--light-black);


    --menu-button-color: var(--light-black);
    --menu-button-text-color: var(--light-blue);

    --menu-button-hover-color: var(--light-blue);
    --menu-button-hover-text-color: var(--black);

    
}

/* import custom css here */
/* Hub */
.toolbar {
    /* background: rgba(0, 0, 0, 0.25); */
    backdrop-filter: blur(4px);
}

.toolbar button.btn-delete:hover {
    background-color: red;
}

.toolbar button.btn-delete.active svg{
    fill: red;
}

.toolbar button.btn-delete.active:hover svg{
    fill: var(--black);
}

.toolbar button.btn-delete.active:hover{
    background-color: red;
}

/* Writing */
#hierarchy-container {
    border-top-right-radius: 1rem;
}

#section-hierarchy {
    background-color: var(--light-black);
}

#new-file-slide-out {
    backdrop-filter: blur(4px);
}

.folder-name {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.folder.open:hover > .folder-name::before {
    background-color: var(--hierarchy-tree-hover-vertical-color);
    transform: scaleX(var(--hierarchy-tree-hover-vertical-thickness));
}

li:hover > .folder-name::after,
li:hover > .file-name::after {
    /* background-color: var(--hierarchy-tree-hover-horizontal-color); */
    background-color: var(--hierarchy-tree-hover-horizontal-color);
    transform: scaleY(var(--hierarchy-tree-hover-horizontal-thickness));
}

