<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Hub</title>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="../../../node_modules/intro.js/minified/introjs.min.css">
  </head>
  <body>
  </div>
    <h1>Project Templates</h1>
    <button id="project-hub-tour-btn">❓</button>
    <div class="gallery" id="templateGallery">
      <!-- Templates will be dynamically added here -->
    </div>
    <h2>Current Projects</h2>
    <div class="dropdown">
      <button class="dropbtn">All Projects</button>
      <!-- Projects will be dynamically added to dropdown later -->
      <div class="dropdown-content">
        <a href="#">Project 1</a>
        <a href="#">Project 2</a>
        <a href="#">Project 3</a>
        <a href="#">Project 4</a>
      </div>
    </div>
      
    <div class="project_gallery" id="projectGallery"></div>
    
    <script type="module" src="template.js"></script>
    <script src="projects.js"></script>
    <script src="../../themeInjector.js"></script>
    <script src="../tutorials/projectHubTutorial.js"></script>
    <script src="../../../node_modules/intro.js/minified/intro.min.js"></script>
  </body>
</html>