/* Page wide */
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    font: Helvetica;
}

.import {
    width: 100%;
    height: 100%;
    border: none;
    user-select: none;
}



/* Main */
#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: var(--background-color);
}



/* Header */
#header {
    display: flex;
    flex-direction: row;
    height: 2rem;

    background-color: var(--header-section-color);
    margin-bottom: 0.25rem;

    -webkit-app-region: drag;
}

#logo {
    margin: auto 0.25rem;
}

#header-options button {
    background-color: var(--header-button-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.25rem;

    color: var(--header-text-color);
    -webkit-app-region: no-drag;
    
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

#header-options button:hover {
    color: var(--header-hover-text-color);
    background-color: var(--header-button-hover-color);
}

#window-controls {
    display: flex;
    flex-direction: row;
    
    margin-left: auto;
}

#window-controls button {
    padding: 0 0.75rem;
    color: var(--header-window-controls-text-color);
    background-color: var(--header-window-controls-color);
    border: none;
    cursor: pointer;
    -webkit-app-region: no-drag;

    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

#window-controls button:hover {
    background-color: var(--header-window-controls-hover-color);
}

#window-controls svg {
    height: 1rem;
    fill: var(--header-window-controls-icon-color);
}

#window-controls button:hover svg {
    fill: var(--header-window-controls-icon-hover-color);
}

iframe {
    width: 100%;
    height: 100%;
}




