/* Page wide */
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    font: Helvetica;
}

.import {
    width: 100%;
    height: 100%;
    border: none;
    user-select: none;
}



/* Main */
#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: var(--background-color);
}



/* Header */
#header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 2rem;

    background-color: var(--header-section-color);
    /* margin-bottom: 0.25rem; */

    
    align-items: center;
    justify-items: center;

    z-index: 2;
    -webkit-app-region: drag;
}

#header button {
    height: 2rem;
    margin: 0;
}

#logo {
    margin-right: 0.25rem;
}

#logo svg {
    height: 1.8rem;
    width: 1.5rem;
    fill: var(--header-text-color);;
}

#header-options {
    display: flex;
    flex-direction: row;
}

#logo button,
.header-option > button {
    font-size: 0.8rem;
    background-color: var(--header-button-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.25rem;

    color: var(--header-text-color);
    -webkit-app-region: no-drag;
    
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

#logo button {
    padding: 0rem 0.25rem;
}

#logo button:hover,
.header-option > button:hover,
.header-option > button.open {
    color: var(--header-hover-text-color);
    background-color: var(--header-button-hover-color);
}

#logo button:hover svg {
    fill: var(--header-hover-text-color);;
}

.header-dropdown-wrapper {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

.header-dropdown-wrapper.open {
    pointer-events: auto;
}

.header-dropdown {
    display: flex;
    flex-direction: column;
    background-color: var(--header-dropdown-color);

    transform: translateY(-100%);
    transition: transform 0.2s cubic-bezier(1,0,.75,.5); 
}

.header-dropdown-wrapper.open .header-dropdown {
    display: flex;
    transform: translateY(0%);
    transition: transform 0.2s cubic-bezier(.25,.5,0,1);
}

.header-dropdown button {
    padding: 0.25rem 0.75rem;
    flex-grow: 1;
    /* min-width: 5rem; */
    /* width: calc(100% + 0.5rem); */

    text-align: left;
    border: none;
    cursor: pointer;

    color: var(--header-dropdown-text-color);
    background-color: var(--header-dropdown-color);

    transition: all 0.2s ease;
}

.option-foldout button {
    width: 100%;
}


 
.header-dropdown button:hover {
    transform: translateX(-0.5rem);
    color: var(--header-dropdown-hover-text-color);;
    background-color: var(--header-dropdown-hover-color);
}

.header-dropdown .divider {
    height: 1px;
    margin: 0.25rem 0;
    background-color: var(--header-dropdown-divider-color);
}

.foldout-wrapper {
    height: 0;
    overflow: hidden;
    margin-left: 0.75rem;

    width: 100%;

    interpolate-size: allow-keywords;
    transition: all 0.2s ease;
}

.foldout-wrapper.open {
    height: auto;
}

.foldout {
    display: flex;
    flex-direction: column;
}

.foldout button {
    flex-grow: 1;
    width: calc(100% - 0.75rem);
}

#window-controls {
    display: flex;
    flex-direction: row;
    
    margin-left: auto;
}

#window-controls button {
    padding: 0 0.75rem;
    color: var(--header-window-controls-text-color);
    background-color: var(--header-window-controls-color);
    border: none;
    cursor: pointer;
    -webkit-app-region: no-drag;

    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}

#window-controls button:hover {
    background-color: var(--header-window-controls-hover-color);
}

#window-controls svg {
    height: 1rem;
    fill: var(--header-window-controls-icon-color);
}

#window-controls button:hover svg {
    fill: var(--header-window-controls-icon-hover-color);
}

iframe,
#main-window {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#overlay {
    display: block;
    position: absolute;
    height: calc(100% - 2rem);
    overflow: hidden;
    transform: translateY(calc(-100% - 0.25rem));

    transition: all 0.2s;
}

#overlay.open {
    transform: translateY(calc(0% - 0.25rem));
}


#background {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    z-index: 0;

    background-color: var(--background-icon-color);

    -webkit-mask-image: url("assets/icons/SkriptorLogo\(3x1_tiled\).svg");
    mask-image: url("assets/icons/SkriptorLogo\(3x1_tiled\).svg");
    -webkit-mask-size: calc(1398px / (1 / var(--background-icon-scale)))  calc(441px / (1 / var(--background-icon-scale))); /* Adjust pattern size */
    mask-size: calc(1398px / (1 / var(--background-icon-scale)))  calc(441px / (1 / var(--background-icon-scale)));
}


.context-menu {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 5px;
    border-radius: 4px;
}

.context-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
}

.context-menu button:hover {
    background: #f0f0f0;
}

#notification-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 99;

    bottom: 0;
    overflow: hidden;
}

.notification-message {
    display: adsolute;
    position: relative;
    transform-origin: bottom;
    height: 1.5rem;
    transition: all 0.2s ease;
}

.notification-content {
    color: white;
    /* height: 1.25rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-bar {
    height: 0.25rem;
    width: 100%;
}

.notification-close-btn {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    z-index: 99;
}