<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="settings.css">
</head>
<body>
    <p>Imagine there's a bunch of settings here.</p>
    <p>Just theme switching for now.</p>
    <div id="theme-section">
        <li class="folder">
            <p>Themes</p>
            <ul id="theme-list"></ul>
        </li>
        <button id="theme-refresh-btn">Refresh</button>
    </div>
    <div id="exit-btns">
        <button id="cancel-settings-btn">Cancel</button>
        <button id="submit-settings-btn">Ok</button>
    </div>
    <script src="settings.js"></script>
</body>
</html>