<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="settings.css">
</head>
<body>
    <p>hey this is a test</p>
    <p>going to have more here later</p>
    <p>going to organize and crap</p>
    <p>just theme switching for now</p>
    <div id="theme-section">
        <li class="folder">
            <p>Themes</p>
            <ul id="theme-list"></ul>
        </li>
        <button id="theme-refresh-btn">Refresh</button>
    </div>
    <script src="settings.js"></script>
</body>
</html>