:root {
    --white0: #ffffff;
    --white1: #efefef;
    --white2: #dfdfdf;
    --black0: #202020;
    --black1: #404040;



    --background-color: var(--white2);

    --header-section-color: var(--white1);
    --header-button-color: transparent;
    --header-text-color: var(--black0);

    --left-panel-options-section-color: var(--white1);
    --left-panel-options-button-color: transparent;
    --left-panel-options-icon-color: var(--black1);
    --left-panel-options-button-hover-color: var(--black1);
    --left-panel-options-icon-hover-color: var(--white1);

    --hierarchy-folder-text-color: var(--black0);
    --hierarchy-folder-icon-color: var(--black0);
    --hierarchy-file-text-color: var(--black0);

    --hierarchy-section-color: var(--white1);
    --hierarchy-folder-color: transparent;
    --hierarchy-folder-text-color: var(--black0);
    --hierarchy-folder-icon-color: var(--black1);
    --hierarchy-open-folder-color: var(--white0);
    --hierarchy-open-folder-text-color: var(--black0);
    --hierarchy-open-folder-icon-color: var(--black1);
    --hierarchy-file-color: transparent;
    --hierarchy-file-text-color: var(--black0);;
    --hierarchy-selected-file-color: var(--black0);
    --hierarchy-selected-file-text-color: var(--white0);

    --tab-section-color: var(--white2);
    --tab-button-color: var(--white1);
    --tab-text-color: var(--black0);
    --tab-active-color: black;


    --page-background-color: var(--white1);
    --page-background-border-color: var(--white1);
    --page-snap-line-color: var(--black0);
    --page-grid-color: var(--black0);
    --page-text-color: var(--black0);
    --page-module-selected-color: #0078d7;
}
