:root {
    /* 
    This theme is inspired by the KAT Space Dust keyboard keycap set.
    https://geekhack.org/index.php?topic=113012.0

    color:      Estimate    Pantone     actual hex

    pink:       EA3DAC      232C        E93CAC
    magenta:    BC29BC      Purple C    BB29BB
    purple:     753CBE      266C        753BBD
    blue:       3180E2      2756c       151F6D
    light blue: ?           2717c       A7C6ED
    grey:       2F2F2F      GRAY 2c     D0D0CE
    */

    /* Define palette */
    --black: #202020;
    --light-black: #2F2F2F;
    --pink: #E93CAC;
    --magenta: #BB29BB;
    --purple: #753BBD;
    --blue: #151F6D;
    --light-blue: #A7C6ED;
    --grey: #D0D0CE;


    /* Apply colors */
    --background-color: var(--light-black);



    --header-section-color: var(--black);

    --header-logo-primary-color: var(--light-blue);
    --header-logo-secondary-color: var(--pink);

    --header-button-color: transparent;
    --header-text-color: var(--pink);

    --header-button-hover-color: var(--pink);
    --header-hover-text-color: var(--black);

    --header-window-controls-color: var(--black);
    --header-window-controls-icon-color: var(--pink);
    --header-window-controls-hover-color: var(--pink);
    --header-window-controls-icon-hover-color: var(--black);
    


    --left-panel-options-section-color: var(--black);
    --left-panel-options-button-color: transparent;
    --left-panel-options-icon-color: var(--magenta);
    --left-panel-options-button-hover-color: var(--magenta);
    --left-panel-options-icon-hover-color: var(--black);



    --hierarchy-section-color: var(--black);

    --hierarchy-folder-color: transparent;
    --hierarchy-folder-text-color: var(--purple);
    --hierarchy-folder-icon-color: transparent;

    --hierarchy-folder-hover-color: var(--light-black);
    --hierarchy-folder-hover-text-color: var(--purple);
    --hierarchy-folder-hover-icon-color: var(--purple);

    --hierarchy-open-folder-color: var(--purple);
    --hierarchy-open-folder-text-color: var(--black);
    --hierarchy-open-folder-icon-color: var(--black);
    
    --hierarchy-open-folder-hover-color: var(--magenta);
    --hierarchy-open-folder-hover-text-color: var(--light-black);
    --hierarchy-open-folder-hover-icon-color: var(--light-black);

    --hierarchy-new-folder-color: var(--pink);
    --hierarchy-new-folder-text-color: var(--black);
    --hierarchy-new-folder-icon-color: var(--black);

    --hierarchy-folder-path-color: var(--magenta);              /* Implement later */
    --hierarchy-folder-path-text-color: var(--light-black);     /* Implement later */
    --hierarchy-folder-path-icon-color: var(--light-black);     /* Implement later */

    --hierarchy-file-color: transparent;
    --hierarchy-file-text-color: var(--grey);

    --hierarchy-selected-file-color: var(--light-black);
    --hierarchy-selected-file-text-color: var(--grey);



    --tab-section-color: var(--light-black);

    --tab-button-color: var(--black);
    --tab-text-color: var(--magenta);
    --tab-icon-color: var(--magenta);

    --tab-button-hover-color: var(--purple);
    --tab-button-hover-text-color: var(--black);
    --tab-icon-hover-color: red;

    --tab-active-button-color: var(--magenta);
    --tab-active-text-color: var(--black);
    --tab-active-icon-color: var(--black);

    --tab-active-button-hover-color: var(--magenta);
    --tab-active-button-hover-text-color: var(--black);
    --tab-active-icon-hover-color: red;



    --page-background-color: var(--black);
    --page-background-border-color: var(--black);

    --page-snap-line-color: var(--pink);
    --page-grid-color: var(--purple);
    --page-text-color: var(--grey);
    --page-module-selected-color: var(--blue);

    /* Will add more things later. Colors and sizes */
}

/* import custom css here */
#side-bar-options {
    border-top-right-radius: 1rem;
}

.folder-name {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
